{
    "bracketSpacing": false,
    "printWidth": 120,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "endOfLine": "lf"
}
