# To execute this docker-compose yml file use `docker-compose -f docker-compose-v3.yml up`
# Add the `-d` flag at the end for detached execution
# To stop the execution, hit Ctrl+C, and then `docker-compose -f docker-compose-v3.yml down`

# Mac M1 issues: https://github.com/SeleniumHQ/selenium/issues/9733
version: "3"

networks:
  wdi5:
    name: wdi5
    external: true

services:
  chrome:
    restart: always
    image: selenium/node-chrome:4.1.2-20220317
    container_name: chrome
    shm_size: 2g
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      # no video
      - START_XVFB=false
      - JAVA_OPTS=-Dwebdriver.chrome.whitelistedIps=
    networks:
      - wdi5

  firefox:
    restart: always
    image: selenium/node-firefox:4.1.2-20220317
    container_name: firefox
    shm_size: 2g
    depends_on:
      - selenium-hub
    ports:
      - 5900
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      # no video
      - START_XVFB=false
      - JAVA_OPTS=-Dwebdriver.firefox.whitelistedIps=
    networks:
      - wdi5

  selenium-hub:
    restart: always
    image: selenium/hub:4.1.2-20220317
    container_name: selenium-hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444"
    environment:
      - JAVA_OPTS=-Dwebdriver.chrome.whitelistedIps=
    networks:
      - wdi5

  wdi5:
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.wdi5
    image: wdi5
    container_name: wdi5
    stdin_open: true # docker run -i
    tty: true # docker run -t

    depends_on:
      - selenium-hub
      # - chrome
      - test-app
      - firefox
    networks:
      - wdi5

  test-app:
    build:
      context: ../
      dockerfile: ./examples/ui5-js-app/Dockerfile
    image: test-app
    container_name: test-app
    ports:
      - "8888:8888"
    networks:
      - wdi5
