# do a gh release after ci user has pushed the tag to main

name: cut a gh release

on:
  push:
    tags:
      - "v*.*.*"
jobs:
  gh-release:
    # if: "contains(github.event.head_commit.author.name, 'wdi5 bot')"
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - run: npm ci
      - run: npm run build
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/**/*,client-side-js/**/*"
          bodyFile: "CHANGELOG.md"
          token: ${{ secrets.GITHUB_TOKEN }}
