# this will check
# - src formatting in ./src ./client-side-js ./docs with prettier
# - code rules in ./src (not yet ./client-side-js) with eslint

name: lint w/ prettier and eslint

on:
  push:
    branches:
      - main
      - v9-support
  pull_request:
    branches:
      - main
      - v9-support

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - name: tmp install prettier + eslint
        run: npm i
      - name: lint things
        run: |
          npx prettier --debug-check client-side-js src docs
          npx eslint ./src/**/*.ts
        # TODO: linting rules for client-side-js
