name: build and publish wdi5 as wdio-ui5-service to npm

on:
  push:
    branches:
      - main
    paths:
      # relevant
      - "client-side-js/**"
      - "src/**"
      - "docker/**"
      # irrevelant
      - "!.github/**"
      - "!.husky/**"
      - "!.vscode/**"
      - "!docs/**"
      - "!examples/**"
      - "!scripts/**"
      - "!.*"
      - "!*.md"
      - "!*.cjs"
      - "!*.json"

jobs:
  build-and-publish:
    # only run on non-ci commits and
    # on filter docs-, deps-, deps-dev + ci-labeled commits
    if: "!contains(github.event.head_commit.author.name, 'wdi5 bot') && !startsWith(github.event.head_commit.message, 'chore(deps') && !startsWith(github.event.head_commit.message, 'docs') && !startsWith(github.event.head_commit.message, 'ci')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{secrets.ADMIN_WDI5}}
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm run build
      - run: |
          git config --global user.name 'wdi5 bot'
          git config --global user.email 'wdi5-bot@users.noreply.github.com'
      # use standard-version for bumping versions in files,
      # and generating changelog
      # and tagging the release properly
      # and auto-incrementing the release number
      - run: npm run release -- --release-as major
      # push to self aka main from within gh action with "release-state"
      # doesn't trigger this workflow again
      # b/c of missing personal access token here
      - run: git push --follow-tags origin main
      ## finally publish the npm package
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
