name: auth
on:
  pull_request:
    branches:
      - main
    paths:
      # relevant
      - "client-side-js/**"
      - "examples/**"
      - "scripts/**"
      - "src/**"
      # don't run on changes to these
      - "!.husky/**"
      - "!.vscode/**"
      - "!docs/**"
      - "!.*"
      - "!*.md"
      - "!*.cjs"

env:
  wdi5_username: ${{secrets.BTP_LOGIN}}
  wdi5_one_username: ${{secrets.BTP_LOGIN}}
  wdi5_two_username: ${{secrets.BTP_LOGIN}}
  wdi5_password: ${{secrets.BTP_PASSWORD}}
  wdi5_one_password: ${{secrets.BTP_PASSWORD}}
  wdi5_two_password: ${{secrets.BTP_PASSWORD}}
  BROWSERSTACK_USERNAME: ${{secrets.BROWSERSTACK_USERNAME}}
  BROWSERSTACK_ACCESS_KEY: ${{secrets.BROWSERSTACK_ACCESS_KEY}}
  SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
  SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 19, 20]

    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: use node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # we need this for workspace mgmt
      - name: check npm version >= 7
        run: npm --version
      - name: update npm
        run: |
          npm i -g npm@8
          npm --version

      # install both module + sample app(s) deps
      - name: install packages (wdi5 + sample app(s))
        run: |
          npm pkg delete scripts.prepare
          npm ci

      # build things
      - name: build
        run: npm run build

      - name: (browserstack) btp/sap cloud id, basic auth, office 365, custom auth
        run: BROWSERSTACK=true npm run test:auth
