name: wdi5 tests

on:
  pull_request:
    branches:
      - main
    paths:
      # relevant
      - "client-side-js/**"
      - "examples/**"
      - "scripts/**"
      - "src/**"
      # don't run on changes to these
      - "!.husky/**"
      - "!.vscode/**"
      - "!docs/**"
      - "!.*"
      - "!*.md"
      - "!*.cjs"

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 16, 17]

    steps:
      - name: update chrome
        run: |
          wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - 
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          sudo apt-get update
          sudo apt-get --only-upgrade install google-chrome-stable
          # check chrome version
          google-chrome --version

      - name: check out repo
        uses: actions/checkout@v3

      - name: use node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # we need this for workspace mgmt
      - name: check npm version >= 7
        run: npm --version
      - name: update npm
        run: |
          npm i -g npm@latest
          npm --version

      # install both module + sample app(s) deps
      - name: install packages (wdi5 + sample app(s))
        run: |
          npm set-script prepare ""
          npm ci
          npm i -w examples/ui5-js-app

      # build things
      - name: build
        run: npm run build

      # run wdi5 core tests
      - name: test wdi5 core
        run: npm test

      # run wdi5 tests within app(s)
      - name: test js-app
        run: HEADLESS=true npm run test:js-app
