name: core
on:
  pull_request:
    branches:
      - main
    paths:
      # relevant
      - "client-side-js/**"
      - "examples/**"
      - "scripts/**"
      - "src/**"
      # don't run on changes to these
      - "!.husky/**"
      - "!.vscode/**"
      - "!docs/**"
      - "!.*"
      - "!*.md"
      - "!*.cjs"

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16, 18, 19, 20]

    steps:
      - name: check out repo
        uses: actions/checkout@v3

      - name: use node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      # we need this for workspace mgmt
      - name: check npm version >= 7
        run: npm --version
      - name: update npm
        run: |
          npm i -g npm@8
          npm --version

      # install both module + sample app(s) deps
      - name: install packages (wdi5 + sample app(s))
        run: |
          npm pkg delete scripts.prepare
          npm ci

      # build things
      - name: build
        run: npm run build

      - name: test wdi5 core
        run: npm test
